### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [30]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [31]:
Total= len(purchase_data["SN"].unique())
Total

576

In [32]:
total_df = pd.DataFrame({"Total Players": [Total]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [34]:
unique_items = len(purchase_data["Item ID"].unique())
price  = purchase_data["Price"].mean()
total_purchase = (purchase_data["Purchase ID"].count())
total_revenue = (purchase_data["Price"].sum())

In [35]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [price],
                           "Number of Purchases": [total_purchase],
                           "Total Revenue": [total_revenue]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Number of Unique Items"] = summary_df["Number of Unique Items"].map("{:.0f}".format)
summary_df["Number of Purchases"] = summary_df ["Number of Purchases"].map("{:.0f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

summary_df

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:
gender = (purchase_data["Gender"].nunique())
gender

3

In [37]:
groupedby = purchase_data.groupby(['Gender'])
gender_counts = groupedby['SN'].nunique()
sum_gender_counts = gender_counts.sum()

female_total = gender_counts['Female']
female_percent = (female_total/sum_gender_counts) * 100

male_total = gender_counts['Male']
male_percent = (male_total/sum_gender_counts) * 100

other_total = gender_counts['Other / Non-Disclosed']
other_percent = (other_total/sum_gender_counts) * 100

gender_counts

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [38]:
gender_df = pd.DataFrame(gender_counts)
gender_df['Percents'] = [female_percent, male_percent, other_percent]
gender_df["Percents"] = gender_df["Percents"].map("{:.2f}%".format)
gender_df.columns = ["Total Count", "Percentage"]
gender_df

                       Total Count Percentage
Gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%

In [39]:
gender_df.sort_values(by='Total Count', ascending=False)

                       Total Count Percentage
Gender
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#purchase count by gender
purchase_count_gender = purchase_data.groupby('Gender')['Item ID'].count()
#average purchase price by gender
avg_purchase_price = purchase_data.groupby('Gender')["Price"].mean()
#Total purchase value by gender
total_spent_by_gender = purchase_data.groupby('Gender')['Price'].sum()
#average total purchase per person
avg_purchase_per_person = (total_spent_by_gender/ gender_counts)
#avg_purchase_per_person = (total_spent_by_gender/purchase_count_gender)
total_spent_by_gender.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [41]:
summary_gender_df = pd.DataFrame({
                           "Purchase Count": purchase_count_gender,
                           "Average Purchase Price": avg_purchase_price,
                           "Total Purchase Value": total_spent_by_gender,
                           "Avg Total Purchase per Person":avg_purchase_per_person})
    
summary_gender_df.index.name = "Gender"

summary_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins,labels=group_names )

groupedby_ages = purchase_data.groupby('Age Ranges')
age_counts = groupedby_ages['SN'].nunique()   
total_unique_players = age_counts.sum()

age_list = [{"Total Count": age_counts["<10"], "Percentage": (age_counts["<10"] * 100) / total_unique_players},
            {"Total Count": age_counts["10-14"], "Percentage": (age_counts["10-14"] * 100) / total_unique_players},
            {"Total Count": age_counts["15-19"], "Percentage": (age_counts["15-19"] * 100) / total_unique_players},
            {"Total Count": age_counts["20-24"], "Percentage": (age_counts["20-24"] * 100) / total_unique_players},
            {"Total Count": age_counts["25-29"], "Percentage": (age_counts["25-29"] * 100) / total_unique_players},
            {"Total Count": age_counts["30-34"], "Percentage": (age_counts["30-34"] * 100) / total_unique_players},
            {"Total Count": age_counts["35-39"], "Percentage": (age_counts["35-39"] * 100) / total_unique_players},
            {"Total Count": age_counts["40+"], "Percentage": (age_counts["40+"] * 100) / total_unique_players}]

summary_ages_df = pd.DataFrame(age_list)
summary_ages_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34', 6:'35-39', 7:'40+'}, inplace=True)
summary_ages_df["Percentage"] = summary_ages_df["Percentage"].map("{:.2f}%".format)
summary_ages_df = summary_ages_df[["Total Count", "Percentage"]]

summary_ages_df

       Total Count Percentage
<10             17      2.95%
10-14           22      3.82%
15-19          107     18.58%
20-24          258     44.79%
25-29           77     13.37%
30-34           52      9.03%
35-39           31      5.38%
40+             12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#purchase count
#av purchase price
#avg purchase total per person
#average total purchase per person

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#create the new column Age Ranges
groupedby_age_range = purchase_data.groupby("Age Ranges")
#purchase count
total_item_count_by_age = groupedby_age_range['Item ID'].count()
#avg purchase price 
avg_purchase_price_age= purchase_data.groupby('Age Ranges')["Price"].mean()
#total purchase value
total_spent_by_age = purchase_data.groupby('Age Ranges')['Price'].sum()
#average total purchase per person
avg_purchase_per_person = (total_spent_by_age/ age_counts)
avg_purchase_per_person.head()

age_summary = pd.DataFrame({"Purchase count":total_item_count_by_age,"Average Purchase price":avg_purchase_price_age,
                           "Total Purchase Value":total_spent_by_age,"Avg Total purchase per Person": avg_purchase_per_person})

age_summary.index.name = None

age_summary["Average Purchase price"] = age_summary["Average Purchase price"].map("${:.2f}".format)
age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:.2f}".format)
age_summary["Avg Total purchase per Person"] = age_summary["Avg Total purchase per Person"].map("${:.2f}".format)


age_summary

,Purchase count,Average Purchase price,Total Purchase Value,Avg Total purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
groupedby_player = purchase_data.groupby(['SN'])
total_spent_player = groupedby_player['Price'].sum()
items_per_player = groupedby_player['Price'].count()

user = pd.DataFrame(total_spent_player)
user['Item Count'] = items_per_player
user['Avg Spent'] = total_spent_player / items_per_player
user.columns = ["Total Purchases", "Item Count", "Avg Spent"]
user
# Formatting
user["Avg Spent"] = user["Avg Spent"].map("${:.2f}".format)
user.sort_values(by='Total Purchases', ascending=False, inplace=True)
user["Total Purchases"] = user["Total Purchases"].map("${:.2f}".format)

user.head(5)

            Total Purchases  Item Count Avg Spent
SN
Lisosia93            $18.96           5     $3.79
Idastidru52          $15.45           4     $3.86
Chamjask73           $13.83           3     $4.61
Iral74               $13.62           4     $3.40
Iskadarya95          $13.10           3     $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
items = items.groupby(["Item ID","Item Name"])
#purchase count
purchase_count = items["Price"].count()
#total purchase value
purchase_value = (items["Price"].sum())
#item price
item_price = purchase_value/purchase_count

items_summary = pd.DataFrame({"Purchase Count":purchase_count,"Item Price":item_price,"Total Purchase Value":purchase_value  })
popular = items_summary.sort_values(["Purchase Count"], ascending=False)
popular["Item Price"] = popular["Item Price"].map("${:.2f}".format)
popular["Total Purchase Value"] = popular["Total Purchase Value"].map("${:.2f}".format)

popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
popular = items_summary.sort_values(["Total Purchase Value"],
                                                   ascending=False)

popular["Item Price"] = popular["Item Price"].map("${:.2f}".format)
popular["Total Purchase Value"] = popular["Total Purchase Value"].map("${:.2f}".format)

popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80